/*------------------fonts-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
/*-------------------------------------*/



img {
    width: 150px;
}

a {
    color: white;
}

#ruler {
    margin-top: 60px;
    width: 1000px;
    border: 1px solid white;
}

/*-----------------------------------------------------------*/
.navbar {
    background-image: linear-gradient(to right, #5A3E79, #6C0BA9);
    height: 70px;
}

.navbar-toggler {
    margin-bottom: 20px;
}

#nav_name {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_name:hover {
    text-decoration: none;
    color: white;
}

#navbarNav {
    background-image: linear-gradient(to right, #5A3E79, #6C0BA9);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    /* Set your initial color */
    text-decoration: none;
    transition: color 0.2s ease;
    padding-right: 20px;
}

/* Default styles for navbar links */
.navbar-nav .nav-link {
    color: white;
    position: relative;
    transition: color 0.3s ease;
}

/* Underline styles */
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 80%;
    /* Adjust the width of the underline */
    height: 2px;
    bottom: 0;
    left: 2%;
    /* Center the underline within the list item */
    background-color: yellow;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

/* Fade in effect for underline on hover */
.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
}



#intro {
    margin-top: 100px;
    background-color: #fff;
    border-radius: 30px;
    height: 700px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to top, #c1d84c 0%, #e88ecf 100%);
    background-size: 600% 600%;
    animation: backgroundAnimation 5s ease-in-out infinite;
}

@keyframes backgroundAnimation {
    0%, 100% {
        background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%;
        background-size: 400% 400%;
    }
    25% {
        background-position: 0% 100%, 100% 100%, 100% 0%, 0% 0%;
        background-size: 200% 200%;
    }
    50% {
        background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%;
        background-size: 400% 400%;
    }
    75% {
        background-position: 100% 100%, 0% 100%, 0% 0%, 100% 0%;
        background-size: 200% 200%;
    }
}





#hithere {
    font-size: 50px;
    font-family: Montserrat;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}


.typewriter_name_out
{
    font-family: 'Protest Strike', sans-serif;
    font-size: 70px;
}

.typewriter-container
{
    height: 110px;
}

#typewriter-text{
    color :#6C0BA9;
}

#social_buttons_div {
    padding-top: 50px;
}

#social_buttons_div a {
    border-radius: 50%;
}
.about_me_button_div{
    margin-top: 100px;
}

.about_me_button {
  width: 200px;
  height: 50px;
  border-color: #8e44ad;
  border-radius: 5px;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  font-family: 'Poppins', sans-serif;
  
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    transition: width 250ms ease-in-out;
  }
  
  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}


.section_titles {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 50px;
}



body {
    background-color: #e5ecfb;
}

#about {
    margin-top: 20px;
}

#aboutme_content {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

#aboutme_contact_details {
    font-family: 'Poppins', sans-serif;
}

#skills,
#projects {
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    padding-top: 50px;
    padding-bottom: 50px;
}

.yellow-heading {
    color: #cfea15;
}

.skill-image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.skill-img-text {
    padding-top: 30px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-5px);
    }

    40%,
    80% {
        transform: translateX(5px);
    }
}

.shaking-image:hover {
    animation: shake 0.8s ease;
}

.white-icon {
    color: white
}


.footer-links {
    color: white !important;
    transition: color 0.3s ease !important; /* Smooth transition effect */
    text-decoration: none !important; /* Remove default underline */
}

.footer-links:hover {
    color: yellow !important; /* Use !important to ensure the style is applied */
}


#card_stj, #card_vcet
{
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 0px 0px 20px rgba(87, 78, 78, 0.2); 
}

#card_stj:hover, #card_vcet:hover
{
    transform: perspective(1000px) translateZ(20px);
}

.card-body {
  transform-style: preserve-3d;
  transform: translateZ(50px); /* Adjust the translateZ value as needed */
}



