/*------------------fonts-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/*-------------------------------------*/



img
{
    width: 150px;
}

a
{
    color:white;
}

#ruler
{      
    margin-top: 60px;
    width:700px;
    border: 1px solid white;
}

/*-----------------------------------------------------------*/
.navbar
{
    background-image: linear-gradient(to right,#5A3E79,#6C0BA9);
    height: 70px;
}

.navbar-toggler
{
    margin-bottom: 20px;
}
#nav_name
{   
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
#nav_name:hover
{
    text-decoration: none;
    color:white;
}

#navbarNav {
    background-image: linear-gradient(to right, #5A3E79, #6C0BA9);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    color: #fff; /* Set your initial color */
    text-decoration: none;
    transition: color 0.2s ease;
    padding-right: 20px;
}

/* Default styles for navbar links */
.navbar-nav .nav-link {
    color: white;
    position: relative;
    transition: color 0.3s ease;
}

/* Underline styles */
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 80%; /* Adjust the width of the underline */
    height: 2px;
    bottom: 0;
    left: 2%; /* Center the underline within the list item */
    background-color: yellow;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

/* Fade in effect for underline on hover */
.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
}

#intro
{
    margin-top: 100px;
    background-color: #fff;
    border-radius: 20px;
    height: 700px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    
}

#hithere
{
    font-size: 50px;
    font-family: Montserrat;
}


#intro_aboutMe_button
{
    border-radius: 0%;
}

#social_buttons_div a
{
    border-radius: 50%;
}

.section_titles
{
    font-family:'Merriweather', serif;
    font-weight:bold;
    font-size: 50px;
}

body {
    background-color: #e5ecfb;
}

#about
{
    margin-top: 20px;
}

#aboutme_content
{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

#aboutme_contact_details
{
    font-family: 'Poppins', sans-serif;
}

#skills,#projects
{
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    padding-top: 50px;
    padding-bottom: 50px;
}

.yellow-heading
{
    color: #cfea15;
}

.skill-image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.skill-img-text
{
    padding-top: 30px;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

@keyframes shake {
    0%,100%{
        transform: translateX(0);
    }
    20%, 60%{
        transform: translateX(-5px);
    }
    40%, 80%{
        transform: translateX(5px);
    }
}

.shaking-image:hover {
    animation: shake 0.8s ease;
}

.white-icon
{
    color:white
}