/*------------------fonts-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@300&display=swap');



/*-------------------------------------*/

#skills_svg_div
{
    width:1200px;
}

img
{
    width: 150px;
}

a
{
    color:white;
}

#ruler
{      
    margin-top: 60px;
    width:700px;
    border: 1px solid white;
}

/*-----------------------------------------------------------*/
.navbar
{
    background-image: linear-gradient(to right,#5A3E79,#6C0BA9);
    height: 70px;
}

#nav_name
{   
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
#nav_name:hover
{
    text-decoration: none;
    color:white;
}

#navbarNav
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    color: #fff; /* Set your initial color */
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar-expand-lg .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Set your underline height */
    bottom: 0;
    left: 0;
    background: yellow; /* Set your initial underline color */
    transform: scaleX(0); /* Initially set the width to 0 for the animation effect */
    transform-origin: bottom right;
    transition: transform 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: yellow; /* Set your hover color */
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
    transform: scaleX(1); /* Increase the width to 100% on hover */
    transform-origin: bottom left;
}


#intro
{
    margin-top: 100px;
    background-color: #fff;
    border-radius: 20px;
    
}

#hithere
{
    font-size: 50px;
    padding-left: 50px;padding-top: 50px;
}

#intro_name
{
    padding:40px 0px 0px 50px;
}

#intro_aboutMe_button_div
{
    padding:40px 0px 0px 50px;
}


#intro_aboutMe_button
{
    border-radius: 0%;
}

#social_buttons_div
{
    padding:40px 0px 40px 50px;
}
#social_buttons_div a
{
    border-radius: 50%;
}

.section_titles
{
    font-family:'Merriweather', serif;
    font-weight:bold;
    font-size: 50px;
}

body {
    background-color: #e5ecfb;
}

#about
{
    margin-top: 20px;
}

#aboutme_content
{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

#aboutme_contact_details
{
    font-family: 'Poppins', sans-serif;
}
